.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 51px;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .profile {
    width: 87%;
  }
}

@media screen and (max-width: 550px) {
  .profile {
    width: 88.125%;
    padding: 42px 0 36px;
    flex-direction: column;
  }
}

