.elements {
  display: grid;
  align-items: start;
  flex-wrap: wrap;
  max-width: 880px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 32%);
  grid-column-gap: 2%;
  grid-row-gap: 20px;
}

@media screen and (max-width: 1024px) {
  .elements {
    width: 87%;
  }
}

@media screen and (max-width: 768px) {
  .elements {
    grid-template-columns: repeat(2, 49%);
  }
}

@media screen and (max-width: 550px) {
  .elements {
    width: 88.125%;
    grid-template-columns: 100%;
  }
}