.popup__close-button {
  border: none;
  background-color: transparent;
  background-image: url('../../../images/Close\ Icon.svg');
  background-position: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-size: contain;
  position: absolute;
  top: -38px;
  right: -38px;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .popup__close-button {
    right: 0;
    width: 26px;
    height: 26px;
  }
}